{% comment %}
  Renders product detail accordions from custom product metafields.

  Accepts:
  - block: {Object} Section block
  - section: {Object} Section
  - product: {Object} Product
{% endcomment %}

{%- liquid
  assign product_description = product.metafields.custom.product_description
  assign whats_in_the_box = product.metafields.custom.whats_in_the_box
  assign who_is_it_for = product.metafields.custom.who_is_it_for
  assign warranty_guarantee = product.metafields.custom.warranty_guarantee
  assign shipping_returns = product.metafields.custom.shipping_returns
  assign fallback_description = block.settings.fallback_description
  assign fallback_box = block.settings.fallback_whats_in_the_box
  assign fallback_who = block.settings.fallback_who_its_for
  assign fallback_warranty = block.settings.fallback_warranty
  assign fallback_shipping = block.settings.fallback_shipping
-%}

<div
  class="product-details-accordions quick-add-hidden"
  {{ block.shopify_attributes }}
>
  {%- if block.settings.availability_hint != blank -%}
    <p class="product-details-accordions__hint caption">
      {{ block.settings.availability_hint | escape }}
    </p>
  {%- endif -%}

  <div class="product-details-accordions__list">
    {%- liquid
      assign title_product_description = 'products.product.details_accordions.product_description' | t
      if title_product_description == blank or title_product_description contains 'translation missing'
        assign title_product_description = 'Description'
      endif
      assign title_whats_in_the_box = 'products.product.details_accordions.whats_in_the_box' | t
      assign title_who_is_it_for = 'products.product.details_accordions.who_is_it_for' | t
      assign title_warranty_guarantee = 'products.product.details_accordions.warranty_guarantee' | t
      assign title_shipping_returns = 'products.product.details_accordions.shipping_returns' | t
    -%}

    {% render 'product-details-accordion-item',
      metafield: product_description,
      fallback_html: fallback_description,
      title: title_product_description,
      icon: 'clipboard',
      section_id: section.id,
      item_id: 'product-description',
      open: true
    %}

    {% render 'product-details-accordion-item',
      metafield: whats_in_the_box,
      fallback_html: fallback_box,
      title: title_whats_in_the_box,
      icon: 'box',
      section_id: section.id,
      item_id: 'whats-in-the-box',
      open: false
    %}

    {% render 'product-details-accordion-item',
      metafield: who_is_it_for,
      fallback_html: fallback_who,
      title: title_who_is_it_for,
      icon: 'silhouette',
      section_id: section.id,
      item_id: 'who-is-it-for',
      open: false
    %}

    {% render 'product-details-accordion-item',
      metafield: warranty_guarantee,
      fallback_html: fallback_warranty,
      title: title_warranty_guarantee,
      icon: 'check_mark',
      section_id: section.id,
      item_id: 'warranty-guarantee',
      open: false
    %}

    {% render 'product-details-accordion-item',
      metafield: shipping_returns,
      fallback_html: fallback_shipping,
      title: title_shipping_returns,
      icon: 'truck',
      section_id: section.id,
      item_id: 'shipping-returns',
      open: false
    %}
  </div>
</div>
