{% comment %}
  Renders product tags as badges below the product title.

  Accepts:
  - product: {Object} Product
{% endcomment %}

{%- if product.tags.size > 0 -%}
  <ul class="product-tags list-unstyled" role="list" aria-label="{{ 'products.product.tags.label' | t }}">
    {%- for tag in product.tags -%}
      <li class="product-tags__item">
        <span class="badge product-tags__badge">{{ tag }}</span>
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
